table{
    width: 100%;
    height: 100px;
}

th{
    color: white;
    background-color: blue;
}

img{
    height: 150px;
    width: 150px;
}
tr:nth-child(even){
    background-color: #D6EEEE;
}

form{
    padding: 10px;
    background-color:#D6EEEE;
    color: black;
}
button{
    background-color:aquamarine;
    font-weight: bolder;
}
